@font-face {
	font-family: 'Pixer';
	src: url(../../static/fonts/Pixer/Pixer-Regular.woff2);
}

:root {
    --primary: #F1E1CA;
    --secondary: #232324;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
    font-family: 'Pixer';
	color: var(--primary);
	font-size: 2.5cqi;
}

h2 {
	font-family: 'Pixer';
	color: var(--primary);
	font-size: 2cqi;
}

h3 {
	font-family: 'Pixer';
	color: var(--primary);
}

span {
	font-family: 'Pixer';
	color: var(--primary);
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
}

html,
body {
	overflow: hidden;
}

#threeContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#app {
    background-color: transparent;
    position: relative;
    width: 100vw;
    height: 100vh;
	z-index: 0;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	background-color: var(--secondary);
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	background-color: var(--secondary);
}

.noise {
    mix-blend-mode: difference;
}

.noise::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    background-image: url('../../static/images/noise-web.webp');
    pointer-events: none;
    animation: 90ms infinite noise;
    animation-duration: 90ms;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: noise;
	z-index: 1;
}

@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

.highlight {
	position: absolute;
	top: .8cqi;
	left: .8cqi;
	height: 4cqi;
	opacity: 0.5;

}

.classic-button {
    display: flex;
    align-items: center;
	justify-content: center;
    font-family: 'Pixer';
    padding-inline: 1cqi;
    height: 4vh;
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
	border-radius: 0.3cqi;
    cursor: pointer;
}

.classic {
	padding-bottom: 0.2cqi;
    font-size: 1cqi;
    text-decoration: none;
}
